<html>
    <head>
        <title>Welcome to Django Pizza!</title>
    </head>

    <body>
        <h1>Django Pizza Place</h1>
        <ul style="list-style-type: none; padding-right: 40px;">
            {% for pizza in pizzas %}
                <li>
                    <div>
                        {% if pizza.picture %}
                            <div style="float: left;"> <img src="{{ pizza.picture.url }}" width="100px" alt="Picture of a {{ pizza.name }} pizza">  </div>                    
                        {% endif %}
                        <div>
                            <h2 style="margin-bottom: 10px;"> {{ pizza.name }} - R${{ pizza.price }} </h2> 
                            <div> {{ pizza.ingredients }} </div>
                        </div>
                        <hr>                
                    </div>                
                </li>
            {% empty %}
                <h2>Oohh boy... no pizzas for you :'( </h2>
            {% endfor %}
        </ul>    
    </body>
</html>
